[submodule "Core"]
	path = Core
	url = https://github.com/ModernMAK/Relic-Tool-SGA-Core
[submodule "V2"]
	path = V2
	url = https://github.com/ModernMAK/Relic-Tool-SGA-V2
[submodule "V5"]
	path = V5
	url = https://github.com/ModernMAK/Relic-Tool-SGA-V5
[submodule "V7"]
	path = V7
	url = https://github.com/ModernMAK/Relic-Tool-SGA-V7
[submodule "V9"]
	path = V9
	url = https://github.com/ModernMAK/Relic-Tool-SGA-V9
